<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">  
            <h3>Ocorreu um erro :(</h3>    
            <h4>Mas não somos tão ruins, fique com um beijo gostoso =*</h4> 
            <img class="img-responsive" src="http://25.media.tumblr.com/tumblr_md73pu3J4S1r88u00o1_500.gif">
        </div>
    </div>
</div>