<div class="container">
    <div class="row">       
        <div class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">reblog { opções => </a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="@Url.Action("CreatePost", "Admin")">Adicionar post</a></li>
                <li><a class="navbar-brand" href="#">}</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>
    </div>
</div>